{% extends 'base.html' %}

{% block body %}

    <h1>Departments</h1>
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Department</button>


    {% include 'includes/_flash.html' %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span></span>
      </div>
      <div class="modal-body">
            <form action="/departments" method="post">
                <div class="form-group">
                        <label for="fullName">Department name</label>
                        <input type="text" name="fullName" class="form-control form-control-sm" required>
                </div>

               <div class="form-group">
                   <button type="submit" class="btn btn-success">Submit</button>
                   <button type="button" class="btn btn-sm btn-close btn-secondary" data-dismiss="modal">Cancel</button>

               </div>
            </form>
      </div>

    </div>
  </div>
</div>

    <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Department Name</th>
              <th scope="col">View Employees</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          {% for each in allDepts %}
            <tr>
              <th scope="row">{{ each.id }}</th>
              <td>{{ each.name }}</td>
              <th scope="row"><a href="/department/employees/{{ each.id }}">View Employees</a></th>

              <td>
                <button data-toggle="modal" data-target="#exampleModal{{ each.id }}" class="btn btn-sm btn-warning">Edit</button>

                <div class="modal fade" id="exampleModal{{ each.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit department with the ID: {{ each.id }}
                              and the name: {{ each.name }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/department/edit/{{ each.id }}" method="post">
                                <div class="form-group">
                                        <label for="name">Department name</label>
                                        <input value="{{ each.name }}" type="text" name="name" class="form-control form-control-sm" required>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-success">Save Changes</button>
                                    <button type="button" class="btn btn-sm btn-close btn-secondary" data-dismiss="modal">Cancel</button>

                                </div>

                            </form> 
                          </div>     

              </td>

              <td>

                  <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete{{ each.id }}">Delete</button>

                  <div class="modal" id="delete{{ each.id }}" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Delete employee</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this department's record?
                          </div>
                          <div class="modal-footer">
                              <form action="/department/delete/{{ each.id }}" method="post">
                                <button type="submit" class="btn btn-sm btn-success">Delete</button>
                              </form>
                            <button type="button" class="btn btn-sm btn-close btn-secondary" data-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>


              </td>
            </tr>
          {% endfor %}
          </tbody>
    </table>

{% endblock %}

